*{
    text-align:center;
}

button{
    background-color: blue;
    padding: 10px;
    color: white ;
    border-radius: 20px;
    decoration: none;
    border: none !important;
    cursor: pointer;
}
hr{
    width:50% !important;
}
but3{
    color: white ;
    hover:white ; !important;
}